@tailwind base;
@tailwind components;
@tailwind utilities;

.building {
    background-image: url('../public/building.svg');
    background-color: #2f1893;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
}
